## Datlinq data assessment
The first step is to import the the packages I'll be using. I'll start with Pandas for importing the data and initial cleaning of the data. Various parts of Scikit-Learn will become important in the next steps of processing the data.

In [9]:
import pandas as pd
from src.functions import import_json_to_df

### Data preparation
The first step is to import the data into Pandas to prepare it for processing. The function `import_json_to_df` uses `json_normalize` to flatten nested dicts inside the JSON into new columns.

In [10]:
facebook_path = "data-sample/facebook-rotterdam-20170131.json"
factual_path = "data-sample/factual-rotterdam-20170207.csv"
google_path = "data-sample/google-rotterdam-20170207.json"

df_facebook = import_json_to_df(facebook_path)
df_factual = pd.read_csv(factual_path)
df_google = import_json_to_df(google_path)

In [8]:
df_facebook

,__location,__reference,__timestamp,__timestamp_basic,__timestamp_detail,__timestamp_insights,__timestamp_photos,_id,about,affiliation,...,products,public_transit,release_date,restaurant_services,restaurant_specialties,store_number,studio,talking_about_count,website,were_here_count
0,"{'type': 'Point', 'coordinates': [4.4890279881...",NaN,{'$numberLong': '1483522918'},{'$numberLong': '1483522918'},NaN,NaN,NaN,362980210726552,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"{'type': 'Point', 'coordinates': [4.4872103297...",NaN,{'$numberLong': '1483522918'},{'$numberLong': '1483522918'},NaN,NaN,NaN,159873390861865,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'type': 'Point', 'coordinates': [4.4752998, 5...",{'3012AR17': '3012AR17'},{'$numberLong': '1444725009'},{'$numberLong': '1444725009'},NaN,NaN,NaN,785657301493030,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"{'type': 'Point', 'coordinates': [4.4883539, 5...",NaN,{'$numberLong': '1483522918'},{'$numberLong': '1483522918'},NaN,NaN,NaN,1705013096377668,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"{'type': 'Point', 'coordinates': [4.4340983823...",NaN,{'$numberLong': '1483930996'},{'$numberLong': '1442919593'},{'$numberLong': '1483930996'},NaN,NaN,596377147166585,Welkom op de actie pagina van Rotterdam in Act...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '1'},http://www.vakbondinactie.nl,{'$numberLong': '0'}
5,"{'type': 'Point', 'coordinates': [4.4765499, 5...",{'1257941': '1257941'},{'$numberLong': '1484001628'},{'$numberLong': '1482266004'},{'$numberLong': '1484001628'},NaN,NaN,8146619641,We are a strategically led digital agency that...,NaN,...,"Digital Strategy, Customer Experience, Website...",\n,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '8'},http://mangrove.com,{'$numberLong': '1559'}
6,"{'type': 'Point', 'coordinates': [4.4938647445...",{'3083CN10912': '3083CN10912'},{'$numberLong': '1483339037'},{'$numberLong': '1439056464'},{'$numberLong': '1483339037'},{'$numberLong': '1439827948'},{'$numberLong': '1439827946'},137171206389676,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '0'},NaN,{'$numberLong': '107'}
7,"{'type': 'Point', 'coordinates': [4.4768141, 5...",{'1257941': '1257941'},{'$numberLong': '1483609898'},{'$numberLong': '1482266004'},{'$numberLong': '1483609898'},NaN,NaN,204661816581880,the 30th of April we're hosting our first club...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '0'},NaN,{'$numberLong': '10'}
8,"{'type': 'Point', 'coordinates': [4.45801, 51....",{'1193342': '1193342'},{'$numberLong': '1483375257'},{'$numberLong': '1482261562'},{'$numberLong': '1483375257'},NaN,NaN,1441185105897654,Appartementen Verhuur en Kamers,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '0'},NaN,{'$numberLong': '0'}
9,"{'type': 'Point', 'coordinates': [4.48659, 51....",{'309185': '309185'},{'$numberLong': '1483622023'},{'$numberLong': '1482250260'},{'$numberLong': '1483622023'},{'$numberLong': '1440760587'},{'$numberLong': '1440760586'},211111138928095,In hartje Rotterdam vind u De Smaak van Afrika...,NaN,...,NaN,Tram 7 & 8 halte meent.,NaN,"{'delivery': {'$numberLong': '0'}, 'catering':...","{'breakfast': {'$numberLong': '0'}, 'coffee': ...",NaN,NaN,{'$numberLong': '10'},desmaakvanafrika.nl,{'$numberLong': '1964'}
10,"{'type': 'Point', 'coordinates': [4.45824, 51....",{'3021HX6AB': '3021HX6AB'},{'$numberLong': '1453307984'},{'$numberLong': '1453307984'},NaN,NaN,NaN,112600615774965,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"{'type': 'Point', 'coordinates': [4.4795086323...",{'3035GB120': '3035GB120'},{'$numberLong': '1483767538'},{'$numberLong': '1439055570'},{'$numberLong': '1483767538'},{'$numberLong': '1439839359'},{'$numberLong': '1439839358'},343334192408316,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '0'},<<not-applicable>>,{'$numberLong': '24'}
12,"{'type': 'Point', 'coordinates': [4.4635176658...",{'1275389': '1275389'},{'$numberLong': '1483680318'},{'$numberLong': '1482317217'},{'$numberLong': '1483680318'},{'$numberLong': '1439065941'},{'$numberLong': '1439065940'},253001214745510,visit us online: www.thebeershop-online.com ...,NaN,...,NaN,Treinstation op 10 minuten afstand,NaN,"{'delivery': {'$numberLong': '1'}, 'catering':...",NaN,NaN,NaN,{'$numberLong': '5'},http://www.thebeershop-online.com,{'$numberLong': '0'}
13,"{'type': 'Point', 'coordinates': [4.3234433, 5...",{'2515SJ2': '2515SJ2'},{'$numberLong': '1483245518'},{'$numberLong': '1437711754'},{'$numberLong': '1483245518'},{'$numberLong': '1440676420'},{'$numberLong': '1440676418'},105398276189779,"|| www.alexis-anthony.com || \n""One could only...",http://www.facebook.com/mralexisanthony,...,Dance portfolio Development\nEvent impressions...,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '2'},http://www.alexis-anthony.com,{'$numberLong': '0'}
14,"{'type': 'Point', 'coordinates': [4.48922, 51....",{'363518': '363518'},{'$numberLong': '1483607549'},{'$numberLong': '1482317782'},{'$numberLong': '1483607549'},NaN,NaN,203472409794051,BioLogical Solutions levert biologische dispos...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '1'},http://biologicalsolutions.nl,{'$numberLong': '0'}
15,"{'type': 'Point', 'coordinates': [4.4927581137...",{'3073HS126-B': '3073HS126-B'},{'$numberLong': '1467652433'},{'$numberLong': '1453307812'},{'$numberLong': '1467652433'},{'$numberLong': '1437719714'},{'$numberLong': '1437719712'},507415672628266,"Pagina van Wijkgebouw Millinxparkhuis, in behe...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '23'},http://www.dock.nl,{'$numberLong': '1374'}
16,"{'type': 'Point', 'coordinates': [4.48371, 51....",{'603175': '603175'},{'$numberLong': '1483660840'},{'$numberLong': '1482323147'},{'$numberLong': '1483660840'},{'$numberLong': '1437719815'},{'$numberLong': '1437719811'},236815609700034,Welkom op de Facebook pagina van Sporthuis Pim...,NaN,...,- Sneakers\n- Kleding\n- Fanshop\n- Voetbal\n-...,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '8'},www.sporthuispimdoesburg.nl,{'$numberLong': '31'}
17,"{'type': 'Point', 'coordinates': [4.5351703612...",{'2901LC300': '2901LC300'},{'$numberLong': '1483554489'},{'$numberLong': '1437704183'},{'$numberLong': '1483554489'},{'$numberLong': '1440741429'},{'$numberLong': '1440741428'},178867335494483,Bastion Hotel Rotterdam Alexander - Terbregsep...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '8'},http://www.bastionhotels.nl/nl/hotels/hotel-ro...,{'$numberLong': '2268'}
18,"{'type': 'Point', 'coordinates': [4.4912906178...",{'3081PC59-B_1': '3081PC59-B_1'},{'$numberLong': '1483917957'},{'$numberLong': '1453292901'},{'$numberLong': '1483917957'},{'$numberLong': '1439803178'},{'$numberLong': '1439803177'},566933960081028,Youth for Christ Rotterdam wil op wijkniveau i...,NaN,...,YfC Rotterdam biedt advies en ondersteuning bi...,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '2'},"https://twitter.com/YfC_Rotterdam, http://www....",{'$numberLong': '22'}
19,"{'type': 'Point', 'coordinates': [4.6177780524...",{'2911BD1': '2911BD1'},{'$numberLong': '1483492937'},{'$numberLong': '1437718260'},{'$numberLong': '1483492937'},{'$numberLong': '1440732253'},{'$numberLong': '1440732252'},164445297099563,In Capelle ad IJssel is een interactieve start...,NaN,...,"PREMIUM FULL OPTIONS voor € 75,- per jaar.\n\n...",NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '1'},<<not-applicable>>,{'$numberLong': '6'}
20,"{'type': 'Point', 'coordinates': [4.49, 51.924...",{'309185': '309185'},{'$numberLong': '1483611303'},{'$numberLong': '1482261217'},{'$numberLong': '1483611303'},{'$numberLong': '1439827840'},{'$numberLong': '1439827838'},205422936148364,NaN,NaN,...,NaN,NaN,NaN,"{'delivery': {'$numberLong': '1'}, 'catering':...","{'breakfast': {'$numberLong': '0'}, 'coffee': ...",NaN,NaN,{'$numberLong': '0'},http://www.lightofindia.nl,{'$numberLong': '1061'}
21,"{'type': 'Point', 'coordinates': [4.4814998867...",{'2398037': '2398037'},{'$numberLong': '1483279906'},{'$numberLong': '1482266062'},{'$numberLong': '1483279906'},{'$numberLong': '1440682267'},{'$numberLong': '1440682266'},114488028623317,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '0'},http://www.paddymurphys.nl/,{'$numberLong': '24619'}
22,"{'type': 'Point', 'coordinates': [4.4745490627...",{'113993': '113993'},{'$numberLong': '1483479186'},{'$numberLong': '1482268433'},{'$numberLong': '1483479186'},{'$numberLong': '1439848277'},{'$numberLong': '1439848275'},162036373849928,NaN,NaN,...,NaN,NaN,NaN,"{'delivery': {'$numberLong': '0'}, 'catering':...",NaN,NaN,NaN,{'$numberLong': '0'},http://www.beren.nl/locatie/3/restaurant-eetca...,{'$numberLong': '4310'}
23,"{'type': 'Point', 'coordinates': [4.4786384, 5...",{'605240': '605240'},{'$numberLong': '1483945735'},{'$numberLong': '1482259750'},{'$numberLong': '1483945735'},{'$numberLong': '1439081932'},{'$numberLong': '1439081931'},634408949999871,Just a regular bar!,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '2'},http://www.number14.nl,{'$numberLong': '2100'}
24,"{'type': 'Point', 'coordinates': [4.4927852, 5...",{'370126': '370126'},{'$numberLong': '1483457203'},{'$numberLong': '1482317115'},{'$numberLong': '1483457203'},{'$numberLong': '1439818451'},{'$numberLong': '1439818450'},158217174193066,NaN,NaN,...,Today's Specials zet zich onder andere in voor...,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '2'},www.todays-specials.nl,{'$numberLong': '81'}
25,"{'type': 'Point', 'coordinates': [4.47754, 51....",{'114214': '114214'},{'$numberLong': '1483628509'},{'$numberLong': '1481755682'},{'$numberLong': '1483628509'},{'$numberLong': '1440762756'},{'$numberLong': '1440762754'},214679888547945,Visrestaurant ZeeZout,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '26'},http://www.restaurantzeezout.nl/,{'$numberLong': '3124'}
26,"{'type': 'Point', 'coordinates': [4.49175, 51....",{'363518': '363518'},{'$numberLong': '1483496558'},{'$numberLong': '1482317782'},{'$numberLong': '1483496558'},{'$numberLong': '1440732708'},{'$numberLong': '1440732707'},165063276906554,Het hotel is comfortabel en super centraal gel...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '34'},http://www.hampshire-hotels.com/hampshire-hote...,{'$numberLong': '2485'}
27,"{'type': 'Point', 'coordinates': [4.4670513, 5...",{'3014GJ117a': '3014GJ117a'},{'$numberLong': '1483413062'},{'$numberLong': '1439055747'},{'$numberLong': '1483413062'},{'$numberLong': '1439841745'},{'$numberLong': '1439841743'},151021571627635,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '0'},<<not-applicable>>,{'$numberLong': '0'}
28,"{'type': 'Point', 'coordinates': [4.48029, 51....",{'1295835': '1295835'},{'$numberLong': '1483259985'},{'$numberLong': '1482330152'},{'$numberLong': '1483259985'},{'$numberLong': '1440678653'},{'$numberLong': '1440678652'},109035879248059,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '173'},http://www.olympiarotterdam.nl/,{'$numberLong': '4930'}
29,"{'type': 'Point', 'coordinates': [4.4938356954...",{'3011PD_21-A': '3011PD_21-A'},{'$numberLong': '1483573423'},{'$numberLong': '1439060887'},{'$numberLong': '1483573423'},{'$numberLong': '1439846397'},{'$numberLong': '1439846396'},186967354770849,De enige echte Facebookpagina van Albert Heijn...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '1'},http://www.ah.nl,{'$numberLong': '56'}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14486,"{'type': 'Point', 'coordinates': [4.5104985554...",{'1151664': '1151664'},{'$numberLong': '1484008927'},{'$numberLong': '1482324577'},{'$numberLong': '1484008927'},NaN,NaN,841786602594041,Forever Green helps people to accomplish there...,NaN,...,Aloë Vera products from Forever Living Product...,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '3'},NaN,{'$numberLong': '0'}
14487,"{'type': 'Point', 'coordinates': [4.4591398, 5...",{'411504': '411504'},{'$numberLong': '1484010826'},{'$numberLong': '1482252429'},{'$numberLong': '1484010826'},NaN,NaN,848644068536950,DOOR helps cultural organisations become futur...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '1'},http://www.unlockthedoor.nl,{'$numberLong': '0'}
14488,"{'type': 'Point', 'coordinates': [4.45983, 51....",{'634936': '634936'},{'$numberLong': '1484012798'},{'$numberLong': '1482324124'},{'$numberLong': '1484012798'},NaN,NaN,856420017820063,Christelijke basisschool in Rotterdam Noord.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '1'},http://www.cosdewereld.nl,{'$numberLong': '5'}
14489,"{'type': 'Point', 'coordinates': [4.47301, 51....",{'165645': '165645'},{'$numberLong': '1484014897'},{'$numberLong': '1482312947'},{'$numberLong': '1484014897'},NaN,NaN,864301633627111,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '0'},NaN,{'$numberLong': '0'}
14490,"{'type': 'Point', 'coordinates': [4.4715199, 5...",{'626874': '626874'},{'$numberLong': '1484016529'},{'$numberLong': '1482323967'},{'$numberLong': '1484016529'},NaN,NaN,870860602960181,"12 statige nieuwbouw herenhuizen in Kralingen,...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '0'},http://www.prachtigkralingen.nl,{'$numberLong': '2'}
14491,"{'type': 'Point', 'coordinates': [4.472888, 51...",{'588573': '588573'},{'$numberLong': '1484017128'},{'$numberLong': '1482258317'},{'$numberLong': '1484017128'},NaN,NaN,873195662797569,De Van Oldenbarneveltstraat in hartje Rotterda...,NaN,...,"Fashion, beauty, food & interior.\nAlle winkel...",Parkeren kunt u vrijwel altijd in de Karel Doo...,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '1'},http://oldenbarneveltstraatrotterdam.nl/,{'$numberLong': '3'}
14492,"{'type': 'Point', 'coordinates': [4.47673, 51....",NaN,{'$numberLong': '1484018029'},{'$numberLong': '1465559405'},{'$numberLong': '1484018029'},NaN,NaN,876739882442799,Tour d'Amour take place in Rotterdam on 14th F...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '0'},http://www.rotterdamiloveyou.com,{'$numberLong': '35'}
14493,"{'type': 'Point', 'coordinates': [4.46866, 51....",NaN,{'$numberLong': '1484020208'},{'$numberLong': '1442928278'},{'$numberLong': '1484020208'},NaN,NaN,885327158161792,Wij verkopen telefoon accessoires/Telefoons en...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '0'},http://www.LaagBudget.com,{'$numberLong': '0'}
14494,"{'type': 'Point', 'coordinates': [4.74609375, ...",{'114816': '114816'},{'$numberLong': '1484021026'},{'$numberLong': '1481740872'},{'$numberLong': '1484021026'},NaN,NaN,888481301287781,Bijbaanbloggen.nl,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '2'},https://www.bijbaanbloggen.nl,{'$numberLong': '0'}
14495,"{'type': 'Point', 'coordinates': [4.5251599, 5...",{'1167074': '1167074'},{'$numberLong': '1484021506'},{'$numberLong': '1482261401'},{'$numberLong': '1484021506'},NaN,NaN,890457114355045,ELS offers interactive and affordable language...,NaN,...,Affordable and interactive language/ culture c...,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '263'},http://www.eur.nl/english/ltc/erasmus_language...,{'$numberLong': '21'}
14496,"{'type': 'Point', 'coordinates': [4.4801002, 5...",{'375084': '375084'},{'$numberLong': '1484023185'},{'$numberLong': '1482252235'},{'$numberLong': '1484023185'},NaN,NaN,897148726987421,Ik inspireer en begeleid door 1-1 ontmoetingen...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '26'},http://www.awakeninglifespotential.com,{'$numberLong': '1'}
14497,"{'type': 'Point', 'coordinates': [4.47847, 51....",{'348289': '348289'},{'$numberLong': '1484023266'},{'$numberLong': '1481814988'},{'$numberLong': '1484023266'},NaN,NaN,897438523631149,Ons aankomend bedrijfje van heerlijke dagverse...,NaN,...,Vers gemaakte uit eigen keuken maaltijdsoepen ...,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '3'},<<not-applicable>>,{'$numberLong': '1'}
14498,"{'type': 'Point', 'coordinates': [4.5426102, 5...",{'595092': '595092'},{'$numberLong': '1484023560'},{'$numberLong': '1482258566'},{'$numberLong': '1484023560'},NaN,NaN,898598686883034,"Van klein klusje tot complete verbouwing, niks...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '7'},http://www.loodgieterrotterdam.nu,{'$numberLong': '1'}
14499,"{'type': 'Point', 'coordinates': [4.4883539, 5...",NaN,{'$numberLong': '1484028376'},{'$numberLong': '1483522918'},{'$numberLong': '1484028376'},NaN,NaN,918201401567276,Doe mee aan korte game-toernooien (maximaal 30...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '2'},http://www.battlecon.nl,{'$numberLong': '0'}
14500,"{'type': 'Point', 'coordinates': [4.4883539, 5...",NaN,{'$numberLong': '1484029125'},{'$numberLong': '1483522918'},{'$numberLong': '1484029125'},NaN,NaN,921303647924296,Tuin & Lifestyle Event 14 t/m 17 april 2016 in...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '1'},http://www.tuinenlifestyle.lodder-events.nl/,{'$numberLong': '127'}
14501,"{'type': 'Point', 'coordinates': [4.50511, 51....",{'644736': '644736'},{'$numberLong': '1484029360'},{'$numberLong': '1482324208'},{'$numberLong': '1484029360'},NaN,NaN,922230404502695,Clear Moves Aligners is Netherland based compa...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '8'},http://www.clearmovesaligners.com,{'$numberLong': '0'}
14502,"{'type': 'Point', 'coordinates': [4.55059, 51....",{'271472': '271472'},{'$numberLong': '1484030776'},{'$numberLong': '1481759991'},{'$numberLong': '1484030776'},NaN,NaN,928188437324751,Voor uw technisch support bij evenementen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '0'},http://Www.jvdm-support.nl,{'$numberLong': '0'}
14503,"{'type': 'Point', 'coordinates': [4.4927852, 5...",{'253673': '253673'},{'$numberLong': '1484032389'},{'$numberLong': '1481753267'},{'$numberLong': '1484032389'},NaN,NaN,935143033193667,Shirtlobby - de makkelijkste manier om je eige...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '0'},http://shirtlobby.nl,{'$numberLong': '1'}
14504,"{'type': 'Point', 'coordinates': [4.4771991, 5...",{'375084': '375084'},{'$numberLong': '1484034781'},{'$numberLong': '1482252235'},{'$numberLong': '1484034781'},NaN,NaN,945255918857375,Bont & Blauw Tattoo - Erik & Joost - Witte de ...,NaN,...,NaN,Metrostation Beurs,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '9'},<<not-applicable>>,{'$numberLong': '41'}
14505,"{'type': 'Point', 'coordinates': [4.47401, 51....",{'165645': '165645'},{'$numberLong': '1484036558'},{'$numberLong': '1482312947'},{'$numberLong': '1484036558'},NaN,NaN,953088234776605,Aagje initieert en organiseert creatieve activ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '8'},http://www.aagje.org,{'$numberLong': '2'}
14506,"{'type': 'Point', 'coordinates': [4.48711, 51....",{'611783': '611783'},{'$numberLong': '1484037827'},{'$numberLong': '1482323527'},{'$numberLong': '1484037827'},NaN,NaN,959079520802790,Opleidingen in zorg & welzijn. Breederode Hoge...,NaN,...,Opleidingen\n - 9-daagse Mastercourse Ande...,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '13'},http://www.breederode.nl,{'$numberLong': '1'}
14507,"{'type': 'Point', 'coordinates': [4.50222, 51....",{'595391': '595391'},{'$numberLong': '1484039265'},{'$numberLong': '1482323467'},{'$numberLong': '1484039265'},NaN,NaN,965817570190936,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '1'},<<not-applicable>>,{'$numberLong': '1'}
14508,"{'type': 'Point', 'coordinates': [4.4562764, 5...",{'376071': '376071'},{'$numberLong': '1484041239'},{'$numberLong': '1482316676'},{'$numberLong': '1484041239'},NaN,NaN,974843242608737,Betaal je teveel huur voor je kamer of woning?...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '3'},http://www.huurteam-utrecht.nl,{'$numberLong': '0'}
14509,"{'type': 'Point', 'coordinates': [4.4942250999...",{'225263': '225263'},{'$numberLong': '1484041919'},{'$numberLong': '1482247788'},{'$numberLong': '1484041919'},NaN,NaN,978137622234908,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'$numberLong': '1'},http://bliektoysenhobby.nl,{'$numberLong': '0'}